<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "D:/myTool/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book.mapper.MemberMapper">

<select id="checkId" parameterType="MemberVO" resultType="int">
	SELECT
	    COUNT(*)
	FROM
	    member
	WHERE
	    member_id = #{memberId}
</select>

<!-- 회원 가입 -->
<insert id="insertMember" parameterType="MemberVO">
	INSERT INTO member (
	    member_id,
	    name,
	    phone_number
	) VALUES (
	    #{memberId},
	    #{name},
	    #{phoneNumber}
	)
</insert>


</mapper>